<div class="media-no-bordered d-flex align-items-start">
    <div class="media-left">
        <app-navbar-avatar-builder *ngIf="(currentUser$ | async)" [currentUser$]="currentUser$">
        </app-navbar-avatar-builder>
        <app-navbar-avatar-default *ngIf="!(currentUser$ | async) && !allowUseAvatarSelf"></app-navbar-avatar-default>
        <app-navbar-avatar-self *ngIf="!(currentUser$ | async) && allowUseAvatarSelf"></app-navbar-avatar-self>
    </div>
    <div *ngIf="(currentUser$ | async)" class="media-body">
        <p class="media-heading" *ngIf="(currentUser$ | async).full_name">
            {{getShortUsername((currentUser$ | async).full_name) | truncateText: [30]}}
        </p>
        <p class="media-heading" *ngIf="!(currentUser$ | async).full_name">
            {{getShortUsername((currentUser$ | async).username)}}
        </p>
        <small class="notification-text"> {{(currentUser$ | async).email}} </small>
    </div>
</div>