<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div style="background-image: url('assets/images/banner/banner.png'); background-repeat: no-repeat;"
            class="misc-wrapper p-4">
            <div class="misc-inner justify-content-center p-2 p-sm-3">
                <div class="w-100 text-center">
                    <h1 class="mb-1 text-center font-weight-bolder">Hi, I'm Nguyen Huu Phuoc</h1>
                    <h4 class="mb-3 text-secondary">Full-Stack Developer</h4>
                    <div style="height: 150px; width: 150px;" class="avatar">
                        <span style="height: 100%; width: 100%;" class="avatar-content">
                            <img style="background-size: cover;" class="round" [src]="aUrl" alt="avatar" height="150"
                                width="150" />
                        </span>
                    </div>

                </div>
                <div class="w-100 text-center">
                    <div class="avatar bg-secondary m-1">
                        <div class="avatar-content">
                            <span [data-feather]="'github'" [class]="'avatar-icon'"></span>
                        </div>
                    </div>
                    <div class="avatar bg-primary m-1">
                        <div class="avatar-content text-white">
                            <span [data-feather]="'linkedin'" [class]="'avatar-icon'"></span>
                        </div>
                    </div>
                    <div class="avatar bg-danger m-1">
                        <div class="avatar-content">
                            <span [data-feather]="'mail'" [class]="'avatar-icon'"></span>
                        </div>
                    </div>
                    <div class="avatar bg-success m-1">
                        <div class="avatar-content">
                            <span [data-feather]="'phone'" [class]="'avatar-icon'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>